body{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    color: white;
}

header #logo{
    text-align: center;
    padding: 0;
    margin: 0   ;
}

#logo a{
color: white;
font-size: 3.5rem;
font-family: 'Abril Fatface', cursive;
text-transform: uppercase;
text-decoration: none;
padding: 0;
}

#logo a span {
    color: #b32821;
    padding: 0;
    margin: 0;
}

header p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    border-top: solid 0.1rem white;
    font-weight: bold;
}

header li {
    padding: 0.5rem;
}

header a{
    text-decoration: none;
    color: white;
}

#hero{
    font-family: 'Roboto', sans-serif;
}

#hero h1 {
    color: #b32821;
    font-weight: bolder;
    text-shadow: black 0px 0px 20px;
}

#hero p {
    color: white;
    text-shadow: black 0px 0px 20px;
}

#hero a {
    color:white;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: black 0px 0px 20px;
}

#hero .p-4 {
    background-color: black;
    background-image: url(./assets/imagenes/led-zepplin-16.webp);
    background-size: cover;
    background-blend-mode:multiply;
}

#cards h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: black 0px 0px 20px;
}

#cards #top-10{
    background-size: cover;
    background-position: top;
}

#cards #top-10 a{
    text-decoration: none;
}

#cards #excluidos{
    background-size: cover;
    background-position: right;
}

#cards #excluidos a{
    text-decoration: none;
}

#hanging-icons h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color:black;
    border-bottom: #b32821 0.25rem solid;
    font-size: 2.5rem;
}

#reco-bowie {
    font-family: 'Roboto', sans-serif;
}

.reco h3 {
    font-weight: bold;
}

.reco p {
    margin-bottom: 0;
}

.ima img{
    height: 50%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

footer {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

footer p {
    color: white;
}

footer .nav-link {
    color: white;
    text-decoration: none;
}

footer .nav a:hover {
    color: #b32821;
}